# This is just an example.  Replace with values appropriate for your site.
# Global
LOCAL_DOMAIN=site1.example.com
LAN_NAME=SERVER_VLAN
NS1_IP=192.168.2.254
NS2_IP=192.168.2.253

# controller
CONTROLLER_IP=192.168.2.175
ANSIBLE_PULL_OPTIONS=-i localhost, -l localhost -U https://github.com/dmbrownlee/pullbook.git -e username=myuser -e uid=1001 -e gid=1001 -e password=P@55w0rd local.yml
ANSIBLE_PULL_VARS_FILE_URL=
CONTROLLER_BACKUP_PATH=./vols/controller/backups
CONTROLLER_HOME_PATH=./vols/controller/home
CONTROLLER_SSH_PATH=./vols/controller/ssh
CONTROLLER_HOST_PORT=2222
